.thumbnail {
  width: 120px;
    height: 120px;
    display: flex;
    margin-right: auto;
    box-shadow: 0px 1px 1px 1px #0002;
    border-radius: 12px;
    margin-left: 1em;
    margin-bottom: 1em;
  }

  .meta {
    font-size: 80%;
    font-weight: bold;
    color: #555;
  }

  .item {
    padding: 1em;
    list-style-type: none;
    border-radius: 6px;
    margin-bottom: 1em;
    background: #fff;
    box-shadow: 0px 2px 6px 2px #0002;
  }